<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>584714310279-r5mod0cp9kn6qek3t1108r65ulr77k9d.apps.googleusercontent.com</string>
</dict>
</plist>
